body {
    color: whitesmoke;
    background-color: black;
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
}


h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    color: #af4c98;
    font-size: 18px;
    margin-bottom: 0px;
}

button {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #984183;
    color: #fff;
    box-shadow: 10px 10px 10px rgba(121, 121, 166, 0.5);
    cursor: pointer;
}

input {
    margin-top: 15px;
    margin-left: 10px;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.rainbow-text {
    animation: rainbow 7s linear infinite;
}
