body {
    color: whitesmoke;
    background-color: black;
    font-family: sans-serif;
    padding: 30px;
    margin: 10;
}

.hidden {
    display: none;
}

.thank-you {
    text-align: center;
    font-size: 20px;
    margin: 35px;
    margin-top: 100px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    margin: 10px;
}

#summary-h3 {
    border: 1px solid #984183;
    padding: 10px;
    border-radius: 15px;
    background-color: #b9aab0;
    margin-left: 30px;
    margin-right: 30px;
    color: #682a59;
}

h4 {
    color: #af4c98;
    font-size: 18px;
    margin-bottom: 0px;
}
#asterisk {
    margin: 30px;
    font-size: 15px;
    font-style: italic;
}

#order-intro {
    text-align: center;
    margin-bottom: 20px;
}

#size-div {
    border: 3px solid #984183;
    background-color: #b9aab0;
    border-radius: 30px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

select {
    font-family: sans-serif;
    border: none;
    border-radius: 7px;
    box-shadow: #984183 0px 0px 10px;
    font-size: 18px;
    background-color: #f6eef4;
}

#order-form {
    border-radius: 30px;
    text-align: center;
    width: 80%;
    background-color: rgb(52, 52, 52);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    box-shadow: #f6eef4 0px 0px 10px;
}

#order-output {
    border-radius: 30px;
    text-align: center;
    width: 80%;
    background-color: rgb(52, 52, 52);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

#bottom-buttons {
    text-align: center;
}

button {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #984183;
    color: #fff;
    box-shadow: 10px 10px 10px rgba(121, 121, 166, 0.5);
    cursor: pointer;
}

input {
    margin-top: 15px;
    margin-left: 10px;
}

@keyframes rainbow {
    0% { color: rgb(255, 0, 187); }
    14% { color: rgb(205, 63, 172); }
    28% { color: rgb(190, 106, 175); }
    71% { color: indigo; }
    85% { color: rgb(185, 100, 185); }
    100% { color: rgb(209, 48, 160); }
}

.rainbow-text {
    animation: rainbow 7s linear infinite;
}
